/* CSS HEX */
/*
--daisy-bush: #501fa9;
--perfume: #d2b2f4;
--tolopea: #220447;
--malibu: #52cff6;
--cornflower-blue: #736be7;
--medium-purple: #8f47d9;
--indigo: #5d6fc6;
--christalle: #340567;
--deep-koamaru: #152985;
--hippie-blue: #669eb4;
*/
.row {
    width: 100%;
    padding-left: 5%;
}