.container {
  color: white;
  background: linear-gradient(135deg,
      #220447,
      /* tolopea */
      #152985,
      /* deep koamaru */
      #340567 40%,
      /* christalle */
      #501fa9 70%,
      /* daisy bush */
      #5d6fc6 100%
      /* indigo */
    );
    padding-bottom: 5%;

}